In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [6]:
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [204]:
df1=df[['survived','pclass','sibsp','parch','age']]
df1.dropna(inplace=True)
df1.head()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20728\1521899176.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(inplace=True)

   survived  pclass  sibsp  parch   age
0         0       3      1      0  22.0
1         1       1      1      0  38.0
2         1       3      0      0  26.0
3         1       1      1      0  35.0
4         0       3      0      0  35.0

In [206]:
X=df1.iloc[:,1:]
y=df1.iloc[:,0]

In [212]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=20))

0.6933333333333332

In [214]:
# construction

In [228]:
# as per the feature construction, which is process of creating new feature by existed features to improve the machine learning model and make the data analysis more insightful

X['family']=X['sibsp']+X['parch']+1
X.isnull().sum()

pclass    0
sibsp     0
parch     0
age       0
family    0
dtype: int64

In [232]:
X['family'].unique()

array([2, 1, 5, 3, 7, 6, 4, 8], dtype=int64)

In [234]:
def count(value):
    if(value==1):
        return 0
    if(value>=2 and value<=5):
        return 1
    if(value>5):
        return 2

In [236]:
X['Family_type']=X['family'].apply(count)
X.head()

   pclass  sibsp  parch   age  family  Family_type
0       3      1      0  22.0       2            1
1       1      1      0  38.0       2            1
2       3      0      0  26.0       1            0
3       1      1      0  35.0       2            1
4       3      0      0  35.0       1            0

In [238]:
X['Family_type'].value_counts()

Family_type
0    404
1    270
2     40
Name: count, dtype: int64

In [226]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.metrics import r2_score

In [240]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=45)

In [246]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=20))

0.7171031746031745