In [1]:
import pandas as pd 
import numpy as np

In [6]:
data=pd.read_csv(r"C:\Users\Lenovo\Downloads\robust_scaler_data.csv")
data.sample(5)

            Age        Salary
2372  41.600182  61188.945979
2631  44.631848  54572.130637
2326  29.082991  44831.531168
782   43.801979  33093.283724
2583  52.235689  34565.490568

In [13]:
from sklearn.preprocessing import MaxAbsScaler
from sklearn.model_selection import train_test_split

# Splitting the data into train and test sets
X_train,X_test,y_train,y_test=train_test_split(data.drop(columns=['Salary']),data['Salary'],test_size=0.2,random_state=4)
scaler=MaxAbsScaler()

In [14]:
# Fitting the scaler on the training data
scaled_X_train=scaler.fit_transform(X_train)
scaled_X_train=pd.DataFrame(scaled_X_train,columns=X_train.columns)
scaled_X_train.sample(5)

           Age
303   0.506979
1910  0.523497
1877  0.560703
2914  0.405628
651   0.529447

In [15]:
scaled_X_train.describe()

               Age
count  3200.000000
mean      0.507251
std       0.125248
min       0.123702
25%       0.422887
50%       0.508127
75%       0.590214
max       1.000000